# project_config.mk - Project-wide settings
# These variables will be used by the Makefile automatically.

BOARD = ebaz4205
PART  = xc7z010clg400-1

# Target language for project and generated wrappers (VHDL or Verilog)
TARGET_LANGUAGE = VHDL

# Active application component name
APP = zynq_app

# Name of the Block Design (defaults to system)
# BD_NAME = system
