## EBAZ4205 Zynq-7000 XDC Constraints
## Board: EBAZ4205 (Zynq-7010)

# Disconnected external clock (N18) for now as we use PS clock
# set_property -dict {PACKAGE_PIN N18 IOSTANDARD LVCMOS33} [get_ports clk_ext]

# Onboard LEDs
# LED Green (active-low) - Mapping to 'led' in top.vhd
set_property -dict {PACKAGE_PIN W13 IOSTANDARD LVCMOS33} [get_ports led]

# LED Red (Mapping it to a dummy pin or just defining it)
set_property -dict {PACKAGE_PIN W14 IOSTANDARD LVCMOS33} [get_ports {GPIO_0_0_tri_io[0]}]

# Dummy Constraints for EMIO GPIO (mapped to DATA2 header)
set_property -dict {PACKAGE_PIN G19 IOSTANDARD LVCMOS33} [get_ports {GPIO_0_0_tri_io[1]}]
set_property -dict {PACKAGE_PIN G20 IOSTANDARD LVCMOS33} [get_ports {GPIO_0_0_tri_io[2]}]
set_property -dict {PACKAGE_PIN H18 IOSTANDARD LVCMOS33} [get_ports {GPIO_0_0_tri_io[3]}]
set_property -dict {PACKAGE_PIN J18 IOSTANDARD LVCMOS33} [get_ports {GPIO_0_0_tri_io[4]}]
set_property -dict {PACKAGE_PIN K17 IOSTANDARD LVCMOS33} [get_ports {GPIO_0_0_tri_io[5]}]
set_property -dict {PACKAGE_PIN K18 IOSTANDARD LVCMOS33} [get_ports {GPIO_0_0_tri_io[6]}]
set_property -dict {PACKAGE_PIN L19 IOSTANDARD LVCMOS33} [get_ports {GPIO_0_0_tri_io[7]}]

# Dummy Constraint for Ethernet PHY Clock Output
set_property -dict {PACKAGE_PIN M19 IOSTANDARD LVCMOS33} [get_ports enet0_phy_clk]

# --- EBAZ4205/Custom Board Ethernet Clock Fixes ---
# Uncomment if you get placement errors on Ethernet clocks:
# set_property CLOCK_DEDICATED_ROUTE FALSE [get_nets -of_objects [get_ports ENET0_GMII_TX_CLK_0]]

# Example Ethernet Clock definitions (25 MHz / 40ns)
# create_clock -period 40.000 -name eth_tx_clk [get_ports ENET0_GMII_TX_CLK_0]
# create_clock -period 40.000 -name eth_rx_clk [get_ports ENET0_GMII_RX_CLK_0]
